<div class="center">
	<div class="center-content" >
		 <h4 class="title"><i class="fa fa-certificate fa-icon" aria-hidden="true"></i>作品</h4>
		 <div class="work-item">
			 <div class="work-item-content image1">

			 </div>
			 <div class="work-item-title">
					 educoco雲端翻轉課堂
			 </div>
		 </div>
		 <div class="work-item">
			 <div class="work-item-content image2">

			 </div>
			 <div class="work-item-title">
				 不老船長追夢去
			 </div>
		 </div>
		 <div class="work-item">
			 <div class="work-item-content image3">

			 </div>
			 <div class="work-item-title">
				 第十屆聯合盃全國作文大賽
			 </div>
		 </div>
		 <div class="work-item">
			 <div class="work-item-content image4">

			 </div>
			 <div class="work-item-title">
					前端課程網站
			 </div>
		 </div>


		 <div class="both"></div>
	</div>
</div>
