$font-stack:    微軟正黑體, sans-serif
$primary-color: #333
$break-small : 520px
//@import reset

body
  font: 24px $font-stack
  color: $primary-color
  background: #f1f1f1
  margin: 0px

a
  color : $primary-color

nav
  font-size : 20px
  ul
    padding: 10px
  li
    font : 100 $font-stack
    color : #f3f3f3

h1
  text-align: center

.content
  max-width : 1400px
  margin: 0 auto
  position: relative

.navBar
  width: 100%
  height: 100px
  background: rgba(255,255,255, 0.6)
  position: absolute
  .nav
    li
      float: left
      width: 100px
      list-style: none

.banner
  background: url(../img/banner.png)
  width: 100%
  height: 725px
  background-size: cover
  margin-bottom: 20px

.logo
  width: 200px
  float: left
  line-height: 35px


.left, .right, .center
  width : 30%
  height: 500px
  border: 0px solid #111
  float : left
  background: #fff
  margin: 0px 1.65%
  margin-bottom: 15px

.box-content
  padding: 30px
  padding-bottom: 20px

.hotImage
  width: 300px

.top1
  height: 320px
  background: url(../img/IMG_0245.jpg)  #fff  center no-repeat
  background-size: contain
  position: relative
  .name
    position: absolute
    top: 10px
    left: 10px
    color: #000
    font-weight: bold


.top2
  width: 90%
  color : #001
  font-size: 14px
  margin: 0 auto 20px
  border-bottom: 1px solid #ddd
  p
    margin: 30px 0px

.top3
  width: 90%
  color : #001
  font-size: 14px
  margin: 0 auto 20px
  border-bottom: 1px solid #ddd

.fa-icon
  margin-right: 10px
  color : #15cbff
  font-size: 18px


.list
  padding-left: 20px
  .list-item
    font-size: 16px
    line-height: 40px
    border-bottom: 1px solid #ddd
  .list-item-content
    line-height: 25px

.title
  font-size: 20px
  font-weight: bold
  .fa-icon
    font-size: 28px


.box
  margin-bottom: 10px
  span
    width: 100%
    font-size: 18px
    display: block
  p
    padding-left: 15px

.box-right
  width: 50%
  float: left
.box-left
  width: 50%
  float: left

.both
  clear: both

.center
  background: #fff
  .center-content
    padding: 10px 30px 40px


.work-item
  width: 25%
  float: left
  .work-item-content
    margin: 5px
    height: 250px
    position: relative
  .work-item-title
    text-align: center
    font-size: 16px


.image1
  background: url(../img/01.jpg)
  background-size: 400px
  background-position: -25px -35px
  transition: background-size 1s, background-position 1s
.image1:hover
  background: url(../img/01.jpg)
  background-size: 500px
  background-position: -70px -35px

.image2
  background: url(../img/02.jpg)
  background-size: 400px
  background-position: -25px -35px
  transition: background-size 1s, background-position 1s
.image2:hover
  background: url(../img/02.jpg)
  background-size: 600px
  background-position: -125px -35px

.image3
  background: url(../img/03.jpg)
  background-size: 400px
  background-position: -40px 0px
  transition: background-size 1s, background-position 1s
.image3:hover
  background: url(../img/03.jpg)
  background-size: 600px
  background-position: -40px -124px

.image4
  background: url(../img/04.jpg)
  background-size: 800px
  background-position: -250px -100px
  transition: background-size 1s, background-position 1s
.image4:hover
  background-size: 1000px
  background-position: -350px -100px

@media(max-width:768px)
  .left, .right
    width: 100%
  .list
    padding: 0px

  .center .center-content
    padding: 10px 10px 40px

  .work-item
    width : 50%
    margin-bottom: 50px
    position: relative

@media(max-width:542px)
  .work-item
    width : 100%
