@charset "UTF-8";
body {
  font: 24px 微軟正黑體, sans-serif;
  color: #333;
  background: #f1f1f1;
  padding-top: 20px; }

a {
  color: #333; }

nav {
  font-size: 20px; }
  nav ul {
    padding: 10px; }
  nav li {
    font: 100 微軟正黑體, sans-serif;
    color: #f3f3f3; }

h1 {
  text-align: center; }

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 8px; }

.left, .right {
  width: 30%;
  border: 0px solid #111;
  float: left;
  box-shadow: 0px 4px 14px 0px #aaa;
  background: #fff;
  margin-right: 2%;
  margin-bottom: 15px; }

.right {
  width: 68%;
  margin: 0px;
  margin-bottom: 20px; }

.experience {
  padding: 0 30px;
  padding-bottom: 20px; }

.top1 {
  height: 200px;
  background: url(../img/110234021.jpg) #dfdfdf center no-repeat;
  background-size: contain;
  position: relative; }
  .top1 .name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-weight: bold; }

.top2 {
  width: 90%;
  color: #001;
  font-size: 14px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #ddd; }
  .top2 p {
    margin: 30px 0px; }

.top3 {
  width: 90%;
  color: #001;
  font-size: 14px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #ddd; }

.fa-icon {
  margin-right: 10px;
  color: #15cbff;
  font-size: 18px; }

.list {
  padding-left: 20px; }
  .list .list-item {
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #ddd; }
  .list .list-item-content {
    line-height: 25px; }

.title {
  font-size: 20px;
  font-weight: bold; }
  .title .fa-icon {
    font-size: 28px; }

.box {
  margin-bottom: 10px; }
  .box span {
    width: 100%;
    font-size: 18px;
    display: block; }
  .box p {
    padding-left: 15px; }

.box-right {
  width: 50%;
  float: left; }

.box-left {
  width: 50%;
  float: left; }

.both {
  clear: both; }

.center {
  width: 100%;
  box-shadow: 2px 4px 4px 0px #aaa;
  background: #fff; }
  .center .center-content {
    padding: 10px 30px 40px; }

.work-item {
  width: 25%;
  float: left; }
  .work-item .work-item-content {
    margin: 5px;
    height: 250px;
    position: relative; }
  .work-item .work-item-title {
    text-align: center;
    font-size: 16px; }

.image1 {
  background: url(../img/01.jpg);
  background-size: 400px;
  background-position: -25px -35px;
  transition: background-size 1s, background-position 1s; }

.image1:hover {
  background: url(../img/01.jpg);
  background-size: 500px;
  background-position: -70px -35px; }

.image2 {
  background: url(../img/02.jpg);
  background-size: 400px;
  background-position: -25px -35px;
  transition: background-size 1s, background-position 1s; }

.image2:hover {
  background: url(../img/02.jpg);
  background-size: 600px;
  background-position: -125px -35px; }

.image3 {
  background: url(../img/03.jpg);
  background-size: 400px;
  background-position: -40px 0px;
  transition: background-size 1s, background-position 1s; }

.image3:hover {
  background: url(../img/03.jpg);
  background-size: 600px;
  background-position: -40px -124px; }

.image4 {
  background: url(../img/04.jpg);
  background-size: 800px;
  background-position: -250px -100px;
  transition: background-size 1s, background-position 1s; }

.image4:hover {
  background-size: 1000px;
  background-position: -350px -100px; }
